{{ 'section-header.css' | asset_url | stylesheet_tag }}

<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

<header
  id="header"
  data-id="{{ section.id }}"
>
  <div class="header-container">
    <div class="logo-section">
      <button
        data-header-menu-toggle
        id="header-menu"
        class="menu-toggle"
        aria-label="Open navigation menu"
      >
        {{ 'icon-hamburger.svg' | inline_asset_content }}
      </button>
      {%- if request.page_type == 'index' -%}
        <h1
          class="logo-heading"
        >
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="logo-link">
        {%- if settings.logo != blank %}
          {%- liquid
            assign logo_alt = settings.logo.alt | default: shop.name | escape
            assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio
          -%}
          {%- capture sizes -%}
            (max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px
          {%- endcapture -%}
          {%- capture widths -%}
            {{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}
          {%- endcapture -%}

          {{
            settings.logo
            | image_url: width: 600
            | image_tag:
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        {%- else -%}
          <span class="logo-fallback">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    </div>

    {%- if section.settings.menu != blank -%}
      {% render 'header-menu' } %}
    {%- endif -%}

    <ul
      class="header-top-level-ul"
    >
      <li>
        <button
          aria-label="Search {{ shop.name }}"
          data-search-toggle
          id="header-search"
          class="header-button"
        >
          {{ 'icon-search.svg' | inline_asset_content }}
        </button>
      </li>
      <li class="cart-icon-update">
        {% capture header_cart_icon %}
          {{ 'icon-cart.svg' | inline_asset_content }}
          <span class="sr-only">{{ 'templates.cart.cart' | t }}</span>

          {%- if cart != empty -%}
            <div class="cart-count">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        {% endcapture %}
        {% if request.page_type == 'cart' %}
          <span
            class="cart-icon"
          >
            {{ header_cart_icon }}
          </span>
        {% else %}
          {% if settings.cart_type == 'drawer' %}
            <button data-cart-toggle id="header-cart" class="cart-icon">
              {{ header_cart_icon }}
            </button>
          {% endif %}
          {% if request.page_type == 'cart' or settings.cart_type != 'drawer' %}
            <a
              href="{{ routes.cart_url }}"
              class="cart-icon"
            >
              {{ header_cart_icon }}
            </a>
          {% endif %}
        {% endif %}
      </li>
    </ul>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Menu Settings"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Dropdown Menu Settings",
      "info": "Settings for dropdown menus."
    },
    {
      "type": "select",
      "id": "nav_dropdown_menu_style",
      "label": "Dropdown Menu Style",
      "default": "full-width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "auto",
          "label": "Auto"
        }
      ]
    },
    {
      "type": "range",
      "id": "mega_menu_columns",
      "label": "Dropdown Menu Columns",
      "info": "Number of horizontal columns within each dropdown menu. Note that this setting includes any feature blocks added to the dropdown menu.",
      "min": 1,
      "max": 6,
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "featured_menu",
      "name": "Featured Menu",
      "settings": [
        {
          "type": "text",
          "label": "Top Level Menu Slug",
          "id": "menu_slug",
          "info": "Enter the slug of the top level menu item that you would like to add the featured menu to. [How to find the slug](https://thearriveplatform.atlassian.net/wiki/x/AYBgE)"
        },
        {
          "type": "link_list",
          "label": "Menu",
          "id": "menu",
          "info": "The featured menu will support menus up to 2 levels deep."
        },
        {
          "type": "select",
          "id": "featured_menu_links_layout",
          "label": "Menu Links Layout",
          "info": "Displays the menu links in a specific layout. This setting applies only to links after the first link within the featured menu.",
          "default": "list",
          "options": [
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "grid",
              "label": "Grid"
            }
          ]
        },
        {
          "type": "select",
          "id": "featured_menu_mobile_grid_columns",
          "label": "Menu Mobile Grid Columns",
          "info": "Determines the number of columns used for the menu links 'Grid' layout on mobile. This setting applies only when the 'Menu Style' is set to 'Grid'.",
          "default": "grid-cols-4",
          "options": [
            {
              "value": "grid-cols-1",
              "label": "1 Column"
            },
            {
              "value": "grid-cols-2",
              "label": "2 Columns"
            },
            {
              "value": "grid-cols-3",
              "label": "3 Columns"
            },
            {
              "value": "grid-cols-4",
              "label": "4 Columns"
            }
          ]
        },
        {
          "type": "select",
          "id": "featured_menu_desktop_grid_columns",
          "label": "Menu Desktop Grid Columns",
          "info": "Determines the number of columns used for the menu links 'Grid' layout on desktop. This setting applies only when the 'Menu Style' is set to 'Grid'.",
          "default": "grid-cols-4",
          "options": [
            {
              "value": "grid-cols-1",
              "label": "1 Column"
            },
            {
              "value": "grid-cols-2",
              "label": "2 Columns"
            },
            {
              "value": "grid-cols-3",
              "label": "3 Columns"
            },
            {
              "value": "grid-cols-4",
              "label": "4 Columns"
            }
          ]
        },
        {
          "type": "image_picker",
          "label": "Menu Image",
          "id": "menu_image",
          "info": "The image will be displayed in pair with the first link in the featured menu."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "category": "Header"
    }
  ]
}
{% endschema %}
